:root {
  font-size: 16;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

:where(a, a:hover) {
  text-decoration: none;
  color: inherit;
}

.content {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  max-width: 1200px;
  margin: 1rem auto;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.tableSearchForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableSeach {
  width: 100%;
  margin: 1rem;
  max-width: 600px;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  background: #eee;
  border-radius: 0.5rem;
  display: block;
  height: 52px;
  border: 1px solid #aaa;
}

.infoTable {
  height: 80vh;
}

.infoTable ::-webkit-scrollbar {
  width: 8px;
  transform: translateX(-8px);
}

.infoTable ::-webkit-scrollbar-track {
  background-color: #eee;
}

.infoTable ::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 3px;
}

.infoTable ::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}

.infoTableRow {
  display: grid;
  grid-template: "industry origin price product quantity type";
  grid-template-columns: 3fr repeat(5, 1fr);
  grid-template-rows: auto;
  border: 1px solid #aaa;
}

.infoTableRow > span {
  padding: 0.5rem;
}

.infoTableRow:nth-child(2n) {
  background-color: #eee;
}

.infoTableRow > span:not(:last-of-type) {
  border-right: 1px solid #aaa;
}

.infoTableRow > span:first-of-type {
  font-weight: bold;
}

.infoTableHeader {
  text-transform: uppercase;
  background-color: #ccc;
  font-weight: bold;
  padding-right: 8px;
}

.tableSeach--btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  height: 52px;
  font-size: 1.25rem;
  font-weight: bold;
}
